{% extends "base.html" %}

{% block title %}Cuestionario Candidatos{% endblock %}



{% block content %}
<div>

    <div class="container-form mt-5">
        
        <h2 class="display-5 mb-4">¡Bienvenido a TalentView!</h2>
        <p class="lead">Antes de empezar te vamos a pedir algunos datos:</p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" class="btn btn-lg btn-secondary btn-form-inicio">Continuar</button><br><br><br>
        </form>
    </div>


</div>


{% endblock %}